html, body {
	margin: 0;
}

    /*font-family: 'Helvetica-Neue'; title font*/
        /*font-family: sans serif; blog font*/

h1, h3 {
    font-family: 'Raleway', cursive;
    font-size: 4em;
}

h3 {
    text-align: center;
}

p {
	font-family: 'Cantarell', sans-serif;
}



.container {
	max-width: 58em;
    margin: 0 auto;

}



/*menu*/

.navicon {
  width: 100%;
  background: transparent;
  margin: 50px auto 40px;
  position: relative;
  height: 30px;
  width: 50px;
  display: block;
  z-index: 99;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  margin-top: -5em;
}

.navicon:before, .navicon:after {
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: "";
  height: 3px;
  left: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  width: 45px;
}

.navicon:before {
  box-shadow: #fff 0 14px 0 0;
  position: absolute;
  top: 0;
}

.navicon:after {
  position: absolute;
  top: 28px;
}

.navicon--active {
  margin-top: 20px;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}

.navicon--active:before {
  box-shadow: transparent 0 0 0 0;
  top: 15px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.navicon--active:after {
  top: 15px;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.toggle {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: 'Raleway', cursive;
  height: 16em;
  margin: 2px auto;
  min-width: 320px;
  width: 15%;
  opacity: 0;
  padding: 15px;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);

/*border:2px solid red;*/

}

.toggle--active {
  display: block;
  opacity: 1;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/*.toggle-menu { margin-bottom: 25px; }*/

.toggle-menu li {
  width: 8em;
  display: block;
  margin: 10px auto;
  padding: 1em;
  margin-left: 2em;
}

.toggle-menu li a {
  text-decoration: none;
color: rgba(0, 0, 0, 0.4);
  display: block;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  font-weight: 650;
  padding: 5px 0;
  width: 8em;
}

.toggle-menu li a span { text-transform: lowercase; }

.toggle-menu li a:hover {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  font-weight: 800;
}
/******************************************/



/* Projects Main */
.projects-main .container #quotes {
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2em;

}


.projects-main {
  background: rgba(0, 0, 0, 0.7); /* If our image is bright, we can tone it down with this darker overlay */
  padding: 12em;
  position: relative;
  text-align: center;
}
.projects-main:after {
  content: "";
  position: absolute;
  background: url(images/atwork.jpg) no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /*opacity: 0.75;*/ /* Tone the image down further by giving it transparency */
}








/*Project feature*/
.projects-feature {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.7);
    height: 18em;
    padding: 3em 0 5em; /*this solves space between sections*/

}


.projects-feature .container h1 {
    text-align: center;
    color: white;
}

/* div with descrp*/

.projects-feature .col {
    margin: 0 auto;
    height: 8em;
    width: 35em;

}

/*.clearfix {
    clear: both;
}*/


/*Projects section*/

.projects .container {
    /*-webkit-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.72);
    box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.72);
    padding:0 1em 1em 1em;*/
    /*border: 2px solid red;*/
    color: rgba(46, 44, 44, 0.7);
    margin: 0 auto;
    text-align: center;
    border: 2px solid red;

}

.projects .container h2 {
    color: black;
    border-top: 2px solid rgba(46, 44, 44, 0.2);
    font-family: 'Raleway', cursive;
    font-size: 2em;
    padding-top: 1em;
    text-align: center;
    margin-top: 3em;

}


.projects .container .description {
    margin:0 auto;
    width: 45em;
}

.projects .image {
    height: 30em;
    margin:0 auto;
     width: 45em;
}

.projects .prd2 {
    height: 50em;
    margin:0 auto;
     width: 45em;
}

.projects .prd3B {
    height: 32em;
    margin:0 auto;
     width: 25em;
}


footer {
    background-color: rgba(42, 37, 38, 1);
    color: white;
    height: 6em;
}

footer p {
    padding: 1em 0 0 4em;
}

footer a img {
    width: 2em;
    height: 2em;
}



@media (max-width:770px) {
  .projects-feature .container h1 {
      font-size: 3em;
    }

  .projects-feature .col {
    width: 30em;
  }

.projects .container h2 {
    font-size: 1.5em;

}

.projects .container .description {
    width: 36em;
    font-size: 1em;

    border:2px solid green;
}

/*.projects .image {
    height: 30em;
    margin:0 auto;
     width: 45em;
}

.projects .prd2 {
    height: 50em;
    margin:0 auto;
     width: 45em;
}

.projects .prd3B {
    height: 32em;
    margin:0 auto;
     width: 25em;
}*/



}


