html, body {
	margin: 0;
}

    /*font-family: 'Helvetica-Neue'; title font*/
        /*font-family: sans serif; blog font*/

h1, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
}

p {
	font-family: sans-serif;
}