html, body {
	margin: 0;
}

    /*font-family: 'Helvetica-Neue'; title font*/
        /*font-family: sans serif; blog font*/

h1, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4em;
}

p {
	font-family: sans-serif;
}



.container {
	max-width: 940px;
    margin: 0 auto;

}

/* Main */
.main {
	text-align: center;
    background: url(images/background.jpg) no-repeat center center;
    background-size: cover;
    height: 40em;

}


.main .container {
	background-color: rgba(255, 255, 255, 0.3);
	border:2px solid red;
    position: relative;
    top: 10em;
}


.blog-feature {
    background-color: rgba(0, 109, 255, 1);
    color:white;
    height: 22em;
    padding: 3em 0 5em; /*this solves space between sections*/

}


.blog-feature .container h1 {
    padding-left: 1em;
}

.blog-feature img {
    height: 16em;
    width: 16em;
    margin-left: 3em;
}

.blog-feature .container > div {
    height: 8em;
    width: 35em;
}

.blog-feature .col {
   float: right;
   margin-left: 3em;
}

.clearfix {
  clear: both;
}


