html, body {
	margin: 0;
}

    /*font-family: 'Helvetica-Neue'; title font*/
        /*font-family: sans serif; blog font*/

h1, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4em;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
    text-align: center;
}

p {
	font-family: sans-serif;
}



.container {
	max-width: 940px;
    margin: 0 auto;

}

/* Main */
.main {
	text-align: center;
    background: url(images/bkgrdnear.jpg) no-repeat center center;
    background-size: cover;
    height: 40em;

}


.main .container {
	/*background-color: rgba(255, 255, 255, 0.2);*/
    color: rgba(234, 232, 237, 1);
    padding:0 0 1em 0;
    position: relative;
    top: 4em;
    width: 40em;

    border: 2px solid red;
}

.main .container ul {
    list-style-type: none;
    position: fixed;

}

.main .container li {
    display: inline-block;
    margin: 2px 0 0 1em;
}

.main .container  ul li .email-icon {
    width:110%;
    height: 5em;
}

/*Blog feature*/
.blog-feature {
    background-color: rgba(0, 109, 255, 1);
    color:white;
    height: 18em;
    padding: 3em 0 5em; /*this solves space between sections*/

}


.blog-feature .container h1 {
    padding-left: 1em;
    margin-top: 0;
}

.blog-feature img {
    height: 16em;
    width: 16em;
    margin-left: 3em;
}

.blog-feature .container > div {/* div with descrp*/
    height: 8em;
    width: 35em;
}

.blog-feature .col {
   float: right;
   margin-left: 3em;
}

.clearfix {
    clear: both;
}

.blog1 .container {
    background-color: rgba(255, 158, 0, 1);
    -webkit-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.72);
    box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.72);
    padding:0 1em 1em 1em;
}

.blog2 .container {
    background-color: rgba(0, 109, 255, 1);
    -webkit-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.72);
    box-shadow: 0px 4px 12px 3px rgba(0,0,0,0.72);
    padding:0 1em 1em 1em;
}

footer {
    background-color: rgba(42, 37, 38, 1);
    color: white;
    height: 4em;
}

footer p {
    padding: 1em 0 0 4em;
}








