html, body {
	margin: 0;
}

p, h2, h5{
	font-family: 'Cantarell', sans-serif;
	color: white;
}

li {
	list-style-type: none;
}

.main_page {
        background:rgba(33,33,33 ,1);
        height:60em;
    }


.profile{
	background-color: rgba(189,189,189 ,1);
        height:20em;
        position: relative;
        text-align: center;
    }



.light_font p, h5{
	color: rgba(158,158,158 ,1);
}


.profile .artist {
	-webkit-box-shadow: 2px 10px 84px 35px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 10px 84px 35px rgba(0,0,0,0.75);
box-shadow: 2px 10px 84px 35px rgba(0,0,0,0.75);
}

.profile .my_pic {
	border-radius: 2.25em;
	margin-top: 3em;
}

.profile .name {
	background-color: rgba(76,76,76 ,1);
	border-radius: 3.5em;
	width: 8em;
	margin: 0 auto;
	margin-top: 1em;
}

.profile .light_font {
	background-color: rgba(33,33,33 ,1);
	font-size: 8px;
	margin: 0 auto;
	width: 15em;

}


.profile .following {
	background-color: rgba(33,33,33 ,1);
	border-radius: 3em;
	border:2px solid rgba(9,184,62 ,1);
	font-size: 9px;
	margin: 0 auto;
	width: 10em;
}


.button {
        position: absolute;
        bottom: -1.25em; /* half of image height */
        text-align: center;
    }

.button .play {
	background-color: rgba(37,211,102 ,1);
	border-radius: 3em;
	border:none;
	color: white;
	cursor: pointer;
	font-size: 14px;
	margin-left:36em;
	padding:12px 0px 12px 0px;
	width: 18em;

}

.latest .release {
	border-top: 1px solid rgba(66,66,66 ,1);
	border-bottom: 1px solid rgba(66,66,66 ,1);
	height: 10em;
	margin-top: 3em;
}

.latest .latest_pic {
	width: 5em;
	height: 5em;
}

.latest #latest_text {
	color: white;
	width: 26em;
}


.latest audio {
	margin-top: 1em;

}

.latest #latest_rel_features li {
	float: left;
	margin-left: 5em
}

.interests .interests_div {
	border-bottom: 1px solid rgba(66,66,66 ,1);
	margin-top: 4em;
}



/*******/
/*pic focus*/

.interests .pic {
  border: 10px solid rgba(66,66,66 ,1);
  height: 10em;
  width: 10em;
  /*margin:2em 2em 2em 2em;*/
  margin: 0 auto;
  overflow: hidden;
  
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}



.interests .interests_list img {
	width: 9em;
	height: 9em;
}

.interests ul {
	list-style-type: none;
}

.interests li {
	display: inline-block;

}



/*FOCUS*/
.interests .focus {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;

}

.interests .focus:hover {
  border: 70px solid #000;
  border-radius: 50%;
}

.interests .focus img {
	 margin:10px 0 0 10px ; /*centers pic in record*/

}

/********/

.about_interests {
	background-color: rgba(189,189,189 ,1);
	height: 22em;
	padding-top: 5px;
}

.about_interests #text{
	background-color: rgba(50,50,50 ,1);
	width: 40em;
	margin: 0 auto;
	margin-top: 2em; 

-webkit-box-shadow: -1px 0px 83px 52px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 83px 52px rgba(0,0,0,0.75);
box-shadow: -1px 0px 83px 52px rgba(0,0,0,0.75);
}

footer img {
	width: 3em;
	height: 3em;
}

footer {
	padding: 1em;
	background:rgba(33,33,33 ,1);
}