html, body {
	margin: 0;
}

p, h2{
	font-family: 'Cantarell', sans-serif;
	color: white;
}


.main_page {
        background:black;height:750px;
    }


.profile{
	background-color: rgba(189,189,189 ,1);
        height:20em;
        position: relative;
        text-align: center;
    }



.light_font p{
	color: rgba(158,158,158 ,1);
}


.profile .artist {
	-webkit-box-shadow: 2px 10px 84px 35px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 10px 84px 35px rgba(0,0,0,0.75);
box-shadow: 2px 10px 84px 35px rgba(0,0,0,0.75);
}

.profile .my_pic {
	border-radius: 2.25em;
	margin-top: 3em;
}

.profile .name {
	background-color: rgba(76,76,76 ,1);
	border-radius: 3.5em;
	width: 8em;
	margin: 0 auto;
	margin-top: 1em;
}

.profile .light_font {
	background-color: rgba(33,33,33 ,1);
	font-size: 8px;
	margin: 0 auto;
	width: 15em;

}


.profile .following {
	background-color: rgba(33,33,33 ,1);
	border-radius: 3em;
	border:2px solid rgba(9,184,62 ,1);
	font-size: 9px;
	margin: 0 auto;
	width: 10em;
}


.button {
        position: absolute;
        bottom: -1.25em; /* half of image height */
        right: 32em; /* right space */
    }

.button .play {
	background-color: rgba(37,211,102 ,1);
	border-radius: 3em;
	border:none;
	color: white;
	cursor: pointer;
	font-size: 14px;
	margin-left:36em;
	padding:12px 0px 12px 0px;
	width: 18em;

}



